.box{
	height: 100px;
}
.height{
	
	width: 45px;
}
.height1{
	height: 900px;
}
.height2{
	height: 150px;
}
.h2{
	font-size:2px ;
}
.img{
	height: 50px;
}
.ms{
	margin-left: 130px;
}
.my{
	margin-bottom: 50px;
}